﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Hello world!</h1>
<p>Trop sympa Pierre !</p>

<p>Welcome @ViewBag.FirstName @ViewBag.LastName</p>
<p>Welcome Again @ViewBag.Person.FirstName @ViewBag.Person.LastName</p>

@{ 
    Person p = ViewBag.Person;
}

<p>Welcome again (!) @p.FirstName @p.LastName</p>
