﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Learn about
        <a href="https://docs.microsoft.com/aspnet/core">
            building Web apps with ASP.NET Core
        </a>.
    </p>

    @DateTime.Now.Year

    @{
        var x = 100;
        var y = 200;
        var d = DateTime.Now.Year;


        for (var i = 0; i < 100; i++)
        {

        }

    }

    @for (var j = 0; j < 5; j++)
    {

    }

</div>
